body{
    background-color:#25206b;
    background-repeat: no-repeat;
    background-size: cover;
    padding: O;
    margin: 0;
}
h2{
    color: white;
}
h1{
    color: white;
}
.description{
    display: flex;
    flex-direction: row;
    padding:10% ;
    margin-left: 30%px;
    margin-right: 50px;
}

.button{
    border-radius: 18px;
    background: linear-gradient(to right,#87CEEB, #25206b);
    padding: 12px 30px;
    border: none;
    cursor: pointer;
    margin-left: 150px;
    color: black;
    font-weight:bold ;
    
}
.button:hover {
    background: linear-gradient(to right,#25206b, #87CEEB);
}
.list{
    display:flex;
    list-style: none;
}
.list li {
    margin-right: 65px ;
    cursor: pointer;
}
.header{
    margin-left: 35%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin-left: 0%;
}
.logo{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 2%;
    margin-top: 3%;
}
.logo img {
    max-width: 45px;
    display: flex;
    margin-top: 20%;
    cursor: pointer;
}
.DivPere{
    display: flex;
    margin-top: 8%;
}
#boutton{
    padding-left: 8%;
}
#RIfai\'s_picture{
    display: flex;
    overflow: hidden;
    width: 40%;
    overflow: hidden;
    margin: auto;

}
#RIfai\'s_picture img {
    width: 300x;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #eae9f0;
    margin: auto;
    background-color: white;
    margin-bottom: 20px;
}

#MyLogo{
    width: 100px;
    height: auto;
}
.header , .DivPere {
    padding: 20px;
    margin: 0;
}