body{
    background:url(ressources/img/programmation.jpg);
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    display: flex;
    margin-bottom: 50%;
    height: 90vh;
}

.container{
    display: flex;
}

.html,.css,.java-script,.python{
    background-color: aqua;
    border: 1x solid #ffff;
}